<html>
<head>
<style>
 #header {
    align:center;
    text-align:center;
    background: #ccc;
    padding: 20px;
    }

 body {
       background-color:linen;
       text-align:center;
       align:center;
 }
#footer {
    text-align:center;
    position: fixed;
    bottom: 0px;
    clear: right;
    background: #eee;
    padding: 20px;
    width: 100%;
    height: 20px;
    }
  
</style>
</head>
<div id="header">
<header>
<h1>Welcome to first Rails Application </h1>
</header>
</div>
<body>

<h1>Listing articles</h1>
<%=link_to 'New Article',new_article_path %>
<table align="center" border="2">
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

 <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%=link_to 'Show',article_path(article)%></td>
    <td><%=link_to 'Edit',edit_article_path(article)%></td>
    <td><%=link_to 'Destroy',article_path(article),
                    method: :delete,data: {confirm: 'Are you sure?'}%></td>
  </tr>
 <% end %>
</table>

</body>
<div id="footer">
<footer>
@All Rights Reserved<br>
<%=link_to 'Home',welcome_index_path %>
</footer>
</div>
</html>